@font-face {
  font-family: "Kommuna";
  src: local("Kommuna-800Wide"),
    url("/postcard/fonts/Kommuna-800Wide.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
